{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}EMF: Digital Asset Manager{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.typekit.net/qvs1foo.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'user_interface/images/emf-logo.ico' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'user_interface/css/main.css' %}" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12790826-17"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-12790826-17');
	</script>
</head>
<body>
	<nav class="dam-shadow-bottom" role="navigation" aria-label="main navigation">
	  <div class="navbar-brand dam-nav">
	    <a class="navbar-item" href="/">
	      <img src="{% static 'user_interface/images/emf-logo.png' %}" alt="Ellen MacArthur Foundation resources">
			</a>
			<div class="navbar-item">
				<strong>RESOURCES</strong>
			</div>
			<a href="/" class="navbar-item">
				<span class="icon">
					<i class="fas fa-lg fa-search"></i>
				</span>
			</a>
		</div>
		<!-- <div class="navbar-menu">
			<div class="navbar-end">
				<a class="navbar-item">
					<span class="icon">
						<i class="fas fa-search"></i>
					</span>
				</a>
			</div>
		</div> -->
	</nav>
	{% block content %}{% endblock %}
  <footer class="section">
  	<div class="container">
	  	<p class="has-text-grey-light is-size-7">
	      Charity Registration No.: 1130306,
	      OSCR Registration No.: SC043120,
	      Company No.: 6897785
	      <br />
	      © Copyright 2017 Ellen MacArthur Foundation.
	        All Rights Reserved
	    </p>
  	</div>
  </footer>
</body>
</html>