{% extends 'user_interface/base.html' %}

{% load custom_filters %}

{% block content %}
<section class="hero is-medium">
	<div class="hero-body dam-hero">
		<div class="container">
			<h1 class="has-text-weight-bold is-size-3-touch is-size-1-desktop">Circular economy resources at your fingertips</h1>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="columns is-multiline">
	  	{% for topic in topics  %}
	  		<div class="column is-half is-one-third-desktop">
					<a href="{% url 'user_interface:topic' topic.id %}">
						<div class="card">
							<div class="card-content">
								<div class="content">
                  <h2 class="is-size-6 has-text-primary">{{ topic.name|lower|capfirst }}</h2>
                  <div class="dam-card-svg">
                    {% with filename=tagGroupToIcon|get_item:topic.name %}
                      {% include 'user_interface/svg/'|add:filename|add:'.svg' %}
                    {% endwith %}
                  </div>
								</div>
							</div>
						</div>
					</a>
				</div>
	  	{% endfor %}
	  </div>
	</div>
</section>
{% endblock %}
