{% extends 'user_interface/base.html' %}

{% block title %}{{ block.super }} - List{% endblock %}

{% block content %}
<section class="section">
	<div class="container">
		<h1 class="title is-2">All EMF resources at your fingertips</h1>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="columns is-multiline">
	  	{% for tagGroup in tagGroups  %}
	  		<div class="column is-half">
		  		<div class="card">
					  <div class="card-content">
					    <div class="content">
					      <a href="{% url 'user_interface:tag-group' tagGroup.id %}">
					      	<h2 class="is-size-6">{{ tagGroup.name|lower|capfirst }}</h2>
					      </a>
					    </div>
		  			</div>
				  </div>
				</div>
	  	{% endfor %}
	  </div>
	</div>
</section>
{% endblock %}