{% extends 'user_interface/base.html' %}

{% block content %}
<section class="hero is-medium">
	<div class="hero-body dam-hero">
		<div class="container">
			<h1 class="title is-3">Search</h1>
		</div>
	</div>
</section>

<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <p style="color:#3E4DB9">
        <span class="icon">
          <i class="fas fa-lg fa-wrench"></i>
        </span>
      </p>
      <p>Coming soon... Thanks for sharing your interest!</p>
      <p style="color:#3E4DB9">
        <span class="icon">
          <i class="fas fa-lg fa-wrench"></i>
        </span>
      </p>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</section>
{% endblock %}