{% extends 'user_interface/base.html' %}

{% block content %}
<section class="hero is-medium">
	<div class="hero-body dam-hero">
		<div class="container">
			<h1 class="has-text-weight-bold is-size-3-touch is-size-1-desktop">Search</h1>
		</div>
	</div>
</section>

<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <span class="icon dam-icon">
          <i class="fas fa-lg fa-wrench"></i>
        </span>
      </p>
      <p>Coming soon... Thanks for sharing your interest!</p>
      <p><a href="/">Continue browsing the site</a></p>
      <p>
        <span class="icon dam-icon">
          <i class="fas fa-lg fa-wrench"></i>
        </span>
      </p>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</section>
{% endblock %}