.filter-title {
  display: inline;
}
#changelist-filter h3 {
  padding-right: 5px;
}
.filter-link {
  font-size: 12px;
  margin-bottom: 10px;
  cursor: pointer !important;

}
.filter-link:active, .filter-link:focus, .filter-link:visited {
  text-decoration: none;
}
.choice-list {
  display: block;
}
.hide {
  display: none;
}