# .coveragerc to control coverage.py
[run]
branch = false
omit = 
    *__init__.py
   */migrations/*
   asset_manager/settings*

include = 
    ../../asset-manager/*
    file_manager/*
    api/*
    user_interface/*
    asset_manager/*


[report]
show_missing = True

[html]
title = DAM Unit Tests Report