.dam-shadow-bottom {
    position: relative;
    box-shadow: $card-shadow;
}

.dam-is-circle {
    border-radius: 50%;
}

// turn this into a margin and padding utility system, a la Tachyons

.dam-margin-left {
    margin-left: 0.5rem;
}

.dam-margin-left-large {
    margin-left: 1rem;
}

.dam-margin-left-small {
    margin-left: 0.2rem;
}

.dam-margin-bottom {
    margin-bottom: 3rem !important;
}

.dam-padding {
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}