@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

$family-sans-serif: proxima-nova, "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$primary: #3E4DB9;

$text: $grey-darker;
$text-invert: findColorInvert($text);

$column-gap: 0.5rem;
$section-padding: 2rem 1rem;

$card-shadow: 0 1px 1px 0 rgba(10, 16, 34, .2);
$navbar-item-hover-background-color: transparent;

@import 'bulma/bulma';

$dam-color-light: #f9f9fa;

body {
    background: $dam-color-light;
}

.dam-shadow-bottom {
    position: relative;
    // box-shadow: 0 2px 4px 0 rgba(76, 93, 104, 0.25);
    box-shadow: $card-shadow;
}

.dam-is-circle {
    border-radius: 50%;
}

.dam-margin-left {
    margin-left: 0.5rem;
}

.dam-tag {
    border: 1px solid #4f4f4f;
}

.dam-nav {
    justify-content: space-between;
    background: white;
}

.dam-icon {
    position: relative;
    top: 0.2rem;
    border: 2px solid $primary;
    color: $primary;
}
.dam-icon-full {
    position: relative;
    top: -0.2rem;
    background: $primary;
    color: white;
}

.dam-hero {
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    @include mobile() {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}
.dam-hero.dam-asset-hero {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    @include tablet() {
        // padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }
}

.dam-foot {
    padding: 1rem;
}

.dam-back {
    position: absolute;
    top: -3rem;
    left: 0;
    @include tablet() {
        top: -7rem;
    }
    a {
        color: $grey;
    }
}

.dam-padding {
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

.dam-button {
    min-width: 8rem;
}

.dam-media {
    margin-bottom: 1rem;
    @include tablet() {
        padding-right: 1rem;
    }
}

.dam-container-narrow {
    @include tablet() {
        width: 50rem;
        margin: 0 auto;
    }
}

// NOTE: direct Bulma override, not ideal
.card-content {
    padding: 1rem;
}

.card:hover {
    box-shadow: 0 10px 30px -5px rgba(10, 16, 34, .2);
}

.section.is-white {
    background: white;
}