@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

$family-sans-serif: proxima-nova, "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$text: $grey-darker;
$text-invert: findColorInvert($text);

$section-padding: 2rem 1rem;

@import 'bulma/bulma';

.dam-shadow-bottom {
    box-shadow: 0 2px 4px 0 rgba(76, 93, 104, 0.25);
}

.dam-is-circle {
    border-radius: 50%;
    background: lightgray;
}

.dam-tag {
    border: 1px solid #4f4f4f;
}

.dam-nav {
    justify-content: space-between;
}

.dam-icon {
    position: relative;
    top: 0.2rem;
}